@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
 --accent-red: hsl(7, 99%, 70%);
 --accent-yellow: hsl(51, 100%, 49%);
 --dark-desaturated-cyan: hsl(167, 40%, 24%);
 --dark-blue: hsl(198, 62%, 26%);
 --dark-moderate-cyan: hsl(168, 34%, 41%);
 --white: hsl(0, 0%, 100%);
 --gray-blue: hsl(210, 4%, 67%);
 --dark-gray-blue: hsl(232, 10%, 55%);
 --very-dark-gray-blue:  hsl(213, 9%, 39%);
 --very-dark-desaturated-blue: hsl(212, 27%, 19%);

 --text-graphic-design-box: var(--dark-desaturated-cyan);
 --text-photography: var(--dark-blue);
 --footer-text: var(--dark-moderate-cyan);
 --hero-text: var(--white);
 --body-text: var(--very-dark-gray-blue);
 --header-text: var(--very-dark-desaturated-blue);
}

html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}
*, *::before, *::after {
    box-sizing: inherit;
  }

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
    width: 170px;
}

nav.desktop {
    display: none
}

nav.mobile.active {
    width: calc(100% - 48px);
    background-color: var(--white);
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

nav.mobile {
  display: none;
}

.mobile-icon {
    border: none;
    background: transparent;
    padding: 0;
}

@media (min-width: 800px) {
    .navbar {
        padding-top: 34px;
    }

    nav.desktop {  
        width: 60%;
        display: block;
    }
    
    nav.mobile,
    nav.mobile.active,
    .mobile-icon  {
        display: none;
    }
}
@media (min-width: 1150px) {
    nav.desktop {
        width: 40%;
    }  
} 

nav.mobile::after {
    --icon-size: 24px;
    content: "";
    position: absolute;
    top: calc(-1 * var(--icon-size));
    right: 0px;
    border: var(--icon-size) solid transparent;
    border-right-color: transparent;
    border-right-color: var(--white);
}
.mobile_menu > li {
    text-align: center;
    padding: 1em;
}

.mobile_menu > li.btn {
    padding-bottom: 2em;;
}

.mobile_menu a {
    color: var(--dark-gray-blue);
}
.desktop_menu {
    display: flex;
    justify-content: space-between;
}
.desktop_menu a {
    color: inherit;
}

.btn a{ 
    font-family: 'Fraunces', serif;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 2rem;
    border-radius: 100px; 
}

.desktop_menu .btn a{
    color: var(--very-dark-desaturated-blue);
    background-color: var(--white);
}

.mobile_menu .btn a{ 
    background-color: var(--accent-yellow);
    color: var(--very-dark-desaturated-blue);
}

.desktop_menu .btn:hover a{
    background-color: rgb(119, 205, 245);
    color: inherit;
 }

header {
    background-image: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 66vh;
    max-height: 800px;
    color: var(--white);
    position: relative;
    padding: 0 24px;
}


header h1 {
    text-align: center;
    padding-top: 1em;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 6.25px;
}

@media (min-width: 800px) {
    header {
        background-image: url(./images/desktop/image-header.jpg);
        height: 100vh;
        padding: 0 40px;
    }
    header h1 {
        font-size: 56px;
    }
}

.arrow {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 500px) {
    .arrow { 
        top: 45%;
    }
}

.row {
    display: flex;
    flex-direction: column;
}

.row > * {
    width: 100%;
}

.row img {
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%

}

.first {
    order:0; 
}

.content {
    padding: 64px 24px;
}

.content a {
    display: block;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: .75em;
    text-transform: uppercase;
    padding-top: 2em;
    color:  var(--header-text);
    position:relative;
}

.content a::after {
    content: '';
    width: 105px;
    height: .5rem;
    display: inline-block;
    position: absolute;
    bottom: -.25em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    z-index: -1;
    opacity: 0.5;
}

.content a:hover::after {
    opacity: 1;
}

.content.first a::after {
    background-color: var(--accent-red);
}

.content.second a::after {
    background-color: var(--accent-yellow);
}

.content > * {
    text-align: center;
}

.row h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
    color:  var(--header-text);
}

.row p {
    line-height: 30px;
    color: var(--body-text);
}

@media (min-width: 800px) {
    .row {
        flex-direction: row;
    }
    .row > * {
        width: 50%;
    }
    .first {
        order:-1; 
    }
    .content {
        padding: 120px;
    }
    .content > * {
        text-align: left;
    }
    .content a::after {
        left: -.25em;
        transform: translateX(0);
    }
    .single .content {
        margin: 0 auto;
        padding: 360px 160px 60px 160px;
        text-align:center;
        font-size: 16px;
    }
}

.single {
    background-position: center;
}
.single .content {
    margin: 0 auto;
    padding-top: 300px;
    text-align:center;
}

.design {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: cover;
    color:  var(--text-graphic-design-box);
}
.photo {
    background-image: url(./images/desktop/image-photography.jpg);
    background-size: cover;
    color:  var(--text-photography);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery > * {
    width: 50%
}

@media (min-width: 800px) {
    gallery {
        flex-direction: column;
    }
    
    .gallery > * {
        width: 25%
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
   
}

.testimonials h2 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    color:  var(--gray-blue);
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding-bottom: 2em;
}

.testimonial-group {
    display:flex;
    flex-direction: column;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
} 

.testimonial + .testimonial {
    padding-left: 1em;
}

.testimonial img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1em;
}

.testimonial p {
    color: var(--body-text);
    line-height: 1.7;
    text-align: center;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color:  var(--header-text);
    margin-bottom: 0.75em;
}
.title {
    font-size: 14px;
    color: var( --gray-blue);
}



@media (min-width: 800px) {
    .testimonials {
        padding: 165px;
    }
    .testimonial-group {
        flex-direction: row;
    }
}

footer {
    background-color: rgb(144,212,198);
    color: var(--footer-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
}

footer a {
    color: inherit;
}

.footer-logo {
    filter: invert(49%) sepia(21%) saturate(830%) hue-rotate(118deg) brightness(94%) contrast(88%);
    width: 50%;
    padding: 2em 0;
}

.links,
.social {
    display: flex;
    justify-content: space-between;
}

.links {
    width: 90%;
    padding-bottom: 2.5em;
}

.social {
    width: 60%;
    opacity: 0.8;
    padding: 2em 0;
}

.links li:hover a {
    color: var(--white);
}

.social li:hover img {
   filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(93deg) brightness(102%) contrast(102%);
}


@media (min-width: 800px) {


.footer-logo {
    width: 15%;
 }
 .links {
     width: 20%
 }
 .social {  
    width: 15%
    }
}